.container {
  background: linear-gradient(
      to right,
      rgba(256, 256, 256, 0.5),
      rgba(256, 256, 256, 0.5)
    ),
    url("../src/assets/lonely.jpg");
  height: 85%;
  background-size: cover;
  padding: 5rem;
  background-position: center;
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 1rem;
  }
}
